.dividing{
	display: block;
    height: 5px;
    border: 0;
    border-top: 1.6px solid #424242;
    margin: 1em 0;
    padding: 0;
}

.dividingBtn{
    height: 5px;
    border: 0;
    padding: 0;
}

/* Table world */
.containerWorld{
	display: table;
    border: 2px solid #000;
    margin: 0 auto;
    float: left;
}

.contentWorld{
	display: table-row;
}

.colWorld{
	display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 0px;
    width: 20px;
    height: 20px;
}